@import '../../Styles/globals/_base';
@font-face {
    font-family: b;
    src: url('../../assets/fonts/FoundersGrotesk-Semibold.woff');
}
.hero{
    height: 100vh;

    .hero-text{
        padding-top: 10%;
        padding-left: 3rem;
        padding-bottom: 19vh;

        @include lg {
            padding-left: 2rem;
            padding-top: 15%;
        }

        @include hxl{
            padding-bottom: 25vh;
        }
        
        @include hmd{
            padding-bottom: 19vh;
        }

        .masker{
            display: flex;
            align-items: baseline;
            @include xxl{

            }
        }

        .hero-box{
            background: url('../../assets/content-image01.jpg') no-repeat;
            background-size: cover;
            width: 10vw;
            height: 6vw;
            border-radius: .4rem;
            margin-right: .6rem;
        }

        h1{
            font-family: b;
            font-weight: 600;
            line-height: 120px;
            font-size: 8rem;
            color: #212121;
            line-height: 70%;
            letter-spacing: 0;
            @include xl {
                font-size:6rem ;
            }
        }
    }

    .hero-btm{
        font-family: a;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 3rem;
        @include md{
            flex-direction: column;
            align-items: start;
        }
        .btm-left{
            p{
                font-size: 1rem;
                color: #212121;
            }
        }

        .btm-center{
            p{
                font-size: 1rem;
                color: #212121;
            }
        }

        .btm-right{
            width: 16%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            button{
                background: transparent;
                outline: none;
                color: #212121;
                padding: .4rem .7rem;
                border:1px solid #212121;
                border-radius: 15px;
                transition: .2s all;
            }

            button:hover{
                background: #212121;
                color: #f1f1f1;
            }

            .arrow{
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                border:1px solid #212121;
                display: flex;
                align-items: center;
                justify-content: center;
                rotate: 45deg;
            }
        }
    }
}