@import '../../Styles/globals/_base';
@font-face {
    font-family: a;
    src: url('../../assets/fonts/NeueMontreal-Regular.woff');
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 1rem 3rem;

    @include lg {
        padding: 1rem 2rem;
    }
    .menu-btn{
        display: none;
        display: flex;
        align-items: center;
        justify-content: center;
        @include xxl{
            display: none;
        }
        // @include lg {
        //     display:block;
        // }
    }

    .links{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @include xl{
            display: flex;
        }
        @include lg {
            display:none;
        }


        a{
            text-decoration: none;
            color: #212121;
            font-family: a;
            font-weight: 400;
            font-size: 1rem;
            line-height: 24px;
        }


        a:nth-child(5){
            margin-left: 35%;

            @include xl{
                margin-left: 20%;
            }
            @include lg{
                margin-left: 10%;
            }

        }
    }
}